        <p>
          Use this page to add a new pet to the database.
          Head over to view all to see all the pets!
        </P>
      <input type="text" ng-model="petName" placeholder="Pet Name" required>
      <input type="text" ng-model="animalType" placeholder="Animal Type" required>
      <input type="text" ng-model="petAge" placeholder="Age of pet" required>
      <input type="text" ng-model="petPic" placeholder="Picture URL">
      <button type="button" ng-click="addNewPet()"> Add this pet </button>
